doctype html
html
	head
		title 
		link(rel="stylesheet", href="")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		header#main-navigation.clearfix
			a.name(href="#") 
			nav
				a(href="#") 
				a(href="#") 
				a(href="#") 
		
		// Insert bul-jd-02-posts or bul-jd-03-home or bul-jd-04-post-show or bul-jd-05-contact
		

		footer#main-footer
			p.copyright &copy; 2015 | 
			nav
				a(href="")
					i.fa.fa-github
				a(href="")
					i.fa.fa-facebook
				a(href="")
					i.fa.fa-twitter