h1#page-title 
#post-wrapper.skinny-wrapper
	.post
		p.date 
		h1: a(href="#") 
		p(align="justify") 
		h6: a(href="#") READ THE FULL ARTICLE &nbsp;&gt;&gt;
		hr
	.pagination
		span.previous-page.disabled 
			| Previous
		em.current 
			| 1
		a(rel="next", href="#") 
			| 2
		a(rel="next", href="#") 
			| 3
		a(rel="next", href="#") 
			| 4
		a.next-page(href="#") 
			| Next