.wrapper.wrapper-padding.clearfix
	.col-1.about.homepage-content
		h2 
		hr
		p(align="justify") 
	.col-2.homepage-content
		h2 
		hr
		p(align="justify") 
		h3: a(href="#") 
		p(align="justify").date 
		h3: a(href="#") 
		p(align="justify").date 
	.col-2.homepage-content
		h2 
		hr
		p(align="justify") 
		h3: a(href="#") 
		p(align="justify").date 
		h3: a(href="#") 
		p(align="justify").date 