h1#page-title 
.wrapper-padding.skinny-wrapper
	label Name
	br
	input(text="text")
	br
	label Email
	br
	input(text="text")
	br
	label Message
	br
	textarea
	br
	input(type="submit", value="Send Message").button