p(align="justify") Starky and grimmy employment for the last 2 years. Some source says that recent condition is similar with economic recession in the 1970s. Despite the superb internet quality nowdays, unemployment is the major mental breakdown for recent generations, even in the land of the free and the home for the braves!

figure
	img(src="http://thumbs.dreamstime.com/x/need-work-17172724.jpg", alt="Grimmy condition and call for help from the underclass")
	.figcaption Recent condition is similar with economic recession in the 1970s

p(align="justify") The Switzerland Embassy in Abuja, Nigeria and Nestle Nigeria Plc have unveiled economic strategies aimed at addressing issues relating to unemployment and underemployment of jobless Nigerian youths, saying the economic strategies were meant to offer young people the chance of a more secured and productive future. Part of the economy-based strategic plans to address issues of unemployment in Nigeria and globally, by the leading Health and Wellness Company would cover the training of young Nigerians and Africans aimed at unlocking potentials onshore and offshore in order to shore up the technological advancement of their host countries in Africa, especially Nigeria.
p(align="justify") Gordhon, who was represented by Sola Akinyosoye, Head, Human Resource of the company, noted that the success of the programme in Nigeria and the launch of Nestle Global Youth initiative informed the decision of the company to consider the establishment of a Technical Training Center in Cote du Ivoire next year.