.col-1.about.homepage-content
	h2 About
	hr
	img(src="https://avatars1.githubusercontent.com/u/11422017?v=3&s=400", alt="Gema Buj", style="width: 24%; height: 24%; float: left; margin-right: 1em")
	p(align="justify") Hello. My name is Gema Buj. Nice to meet you. Why I created this cool blog dash portfolio, you said? Nice questions, and I'll answer it along the way I created this blog dash portfolio. Bear with me.
	p(align="justify") The range of awesomeness in this blog dash portfolio are diverse, from 'Meh' into 'Ok, I guessed' and finally 'Wow, dude!'. Yeah, I know, right.
