.col-2.homepage-content
	h2 Projects
	hr
	p(align="justify") Here are several projects that I've been completed so far.
	h3: a(href="#") Blog projects using Jekyll
	p(align="justify").date February 14th, 2015
	h3: a(href="#") Model-Viewer-Controller using Ruby on Rails
	p(align="justify").date March 12nd, 2015 