.col-3.homepage-content
	h2 Blog Post
	hr
	p(align="justify") Here are several my food for thought post for the last 3 years of my time blogging.
	h3: a(href="#") Employment nowdays: Why the long face?
	p(align="justify").date February 9th, 2015
	h3: a(href="") Buckle up! Be a good web developer
	p(align="justify").date April 13th, 2015 