.post
	p(align="justify").date April 13th, 2015 
	h1: a(href="sample-post2.html") Buckle up! Be a good web developer
	p(align="justify") Become great web-developer to pay the bills. Internet is the last hope to gaining skilss in recent employment competitions. Squeeze all the good milks from the net to fill your skill's gap. Keep penetrating and do not giving up. Human race are just primates that designed to always keep moving. Keep moving and do not settles.
	h6: a(href="sample-post2.html") READ THE FULL ARTICLE &nbsp;&gt;&gt;
	hr