.post
	p.date February 9th, 2015
	h1: a(href="sample-post.html") Employment nowdays: Why the long face?
	p(align="justify") Starky and grimmy employment for the last 2 years. Some source says that recent condition is similar with economic recession in the 1970s. Despite the superb internet quality nowdays, unemployment is the major mental breakdown for recent generations, even in the land of the free and the home for the braves!
	h6: a(href="sample-post.html") READ THE FULL ARTICLE &nbsp;&gt;&gt;
	hr