.post
	p.date August 12th, 2015
	h1: a(href="#") Rush of blood from the head 
	p(align="justify") This Coldplay song finally make sense to me, because now I encountered it myself. It's already September and currently waiting for my job interview follow up. One week have passed and the announcement will be conducted next week. Hopefully I'm passed. I'm eager to spend the rest of my life developing things that I loved most: Websites. I know I was born for this.
	h6: a(href="#") READ THE FULL ARTICLE &nbsp;&gt;&gt; 
	hr